/*X-small devices*/
.image-container {
    height: 400px;
    overflow: hidden;
}

.footer {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*Small devices*/
@media (min-width: 576px) {
}

/*Medium devices*/
@media (min-width: 768px) {
}

/*Large Devices*/
@media (min-width: 992px) {
}

/*X-large devices*/
@media (min-width: 1200px) {
}

/*XX-large devices*/
@media (min-width: 1400px) {
}
