/*X-small devices*/
header {
    max-height: 100vh;
    background: linear-gradient(to top, #d6d5f6, #bde4f9);
}

    header img {
        border-radius: 20px;
    }

    header h1 {
        font-size: 45px;
        
    }


#headerContainer {
    margin: 0 auto;
}

section {
    max-height: 100vh;
}

.features img {
    border-radius: 20px;
}

.faq {
    background: linear-gradient(to top, #bde4f9, #d6d5f6);
}

/*Small devices*/
@media (min-width: 576px) {

}

/*Medium devices*/
@media (min-width: 768px) {

}

/*Large Devices*/
@media (min-width: 992px) {

}

/*X-large devices*/
@media (min-width: 1200px) {

}

/*XX-large devices*/
@media (min-width: 1400px) {

}
